@{
    ViewBag.Title = "About";
    ViewBag.Message = "This is an application for managing car insurance.";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        This application is designed to help users manage their
        car insurance policies. You can create new insurance entries,
        edit existing ones, and delete them as needed. Additionally,
        there is an admin view available to site administrators, which displays
        all issued insurance quotes along with user details.
    </p>

</main>
