@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h3>About Me</h3>
    <div>
        <p>I'm studying. I'm starting my adventure with C# .NET and web applications</p>
    </div>
    <h3 id="title">@ViewBag.Title</h3>
    <address>

        <strong>Creator:</strong>   <a href="mailto:arturrom007@gmail.com">arturrom007@gmail.com</a><br />
        <strong>My Other Projects:</strong> <a href="https://github.com/arturrrom/repos" target="_blank">Take a look on GitHub</a>
    </address>
</main>
